* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #808080; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contenido {
  width: 360px;
  margin: 6% auto;
  border: 2px solid gray;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 0px 62px 12px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 62px 12px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 62px 12px rgba(0,0,0,0.45);
}

h1 {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
}

.fa-arrows-v {
  float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}


li:nth-child(even) {
  background-color: #f7f7f7;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: none;
}

.del {
  background-color: #e74c3c;
  color: white;
  height: 40px;
  margin-right: 0px;
  text-align: center;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.ok {
  background-color: #55d500;
  color: white;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

.completado {
  text-decoration: line-through;
  color: gray;
}
